{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>{{ company.name }}</h1>
        <p>{{ company.description }}</p>
        <p>{{ company.country }}</p>
        <p>{{ company.date_created }}</p>
        {% for value in company.modelimagecompany_set.values %}
            <img class="img-detail" src="/media/{{ value.image }}" alt="{{ value.description }}">
        {% endfor %}
        <h1>Все игры {{ company.name }}</h1>
        {% for value in company.modelgame_set.values %}
            <p><a href="{% url 'detail' value.slug %}">{{ value.name }}</a></p>
        {% endfor %}
    </div>

{% endblock %}